git+https://github.com/deepghs/waifuc.git@main#egg=waifuc[gpu]
lion_pytorch
lycoris_lora

-i https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime-gpu
